@tailwind base;
@tailwind components;
@tailwind utilities;

ul::-webkit-scrollbar {
  width: 4px;
}
.app {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
ul::-webkit-scrollbar-track {
  background-color: rgb(214, 214, 214);
  border-radius: 5px;
}
body {
  overflow: hidden;
}
ul::-webkit-scrollbar-thumb {
  background: #383838;
  border-radius: 5px;
}
